.roadmap-container {
    min-height: 600px;
    width: 100%;
    padding-top: 40px;
}
.roadmap-container-title, .roadmap-container-desc  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 10px 0;
}

.roadmap-container-desc {
    margin-bottom: 50px;
}