.nft-container {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nft-container-title {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nft-container-utils {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1400px;
}
.nft-container-search {
    width: 70%;
    justify-self: left;
}
.nft-container-lists {
    justify-self: center;
}
.nft-container-sort {
    max-width: 300px;
}
.nft-container-items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;
    grid-gap: 20px;
}
@media only screen and (max-width: 1400px) {
    .nft-container-utils {
        max-width: 1000px;
    }
}
@media only screen and (max-width: 1000px) {
    .nft-container-search {
        grid-column: span 2;
        width: 90%;
        padding-left: 20px;
    }
}