
.about-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 0.3s;
    padding-bottom: 60px;
    overflow-x: hidden;
    padding-top: 80px;
}
.about-container-page {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1650px) {
    .about-container {
        max-width: 1450px;
    }
}
@media only screen and (max-width: 1450px) {
    .about-container {
        padding-top: 50px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-container-desc {
        padding: 0 0 40px 0;
    }
}