.title-component {
    text-transform: uppercase;
    color: #94daff;
    font-family: "Chakra Petch", monospace;
    font-size: 56px;
    font-weight: 700;
}

@media only screen and (max-width: 650px) {
    .title-component {
        font-size: 44px;
    }
}