@keyframes load-down {
    0% {
        top: -200px
    }
    100% {
        top: 0;
    }
}
.nav-wrapper-bg {
    background-color: #12172d;
}
.load-the-animation {
    animation: load-down 0.7s;
    position: fixed!important;
}
.nav-wrapper {
    width: 100vw;
    height: 90px;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 100;
}
.nav-container {
    width: 100%;
    height: 90px;
    overflow: hidden;
    max-width: 1500px;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    z-index: 100;
    transition: all 0.4s ease-in-out;
    border-radius: 0 0 15px 15px;

}
.nav-container-height {
    height: 90px;
}
.nav-item {
    display: flex;
    align-items: center;
    max-height: 90px;
}
.nav-item-left {
    justify-content: left;
}
.nav-item-center {
    justify-content: center;
}
.nav-item-right {
    justify-content: right;
}
.nav-item-subnav-responsive {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .nav-item-hidden {
        display: none;
    }
    .nav-item {
        padding-top: 20px;
    }
    .nav-wrapper {
        height: 110px!important;
    }
    .nav-container {
        display: flex;
        background-color: #12172d;
        border-radius: 0;
        width: 100%;
        height: 110px;
    }
    .nav-item-logo {
        width: 25%;
    }
    .nav-item-social {
        width: 65%;
        display: flex;
        justify-content: right;
    }
    .nav-item-subnav-responsive {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 900px) {
    .nav-item-logo {
        width: 25%;
    }
    .nav-item-social {
        width: 45%;
    }
    .nav-item-subnav-responsive {
        width: 30%;
        text-align: right;
    }
}

@media only screen and (max-width: 800px) {
    .nav-item-logo {
        width: 40%;
    }
    .nav-item-social {
        width: 40%;
    }
    .nav-item-subnav-responsive {
        width: 20%;
        text-align: left;
    }
}

@media only screen and (max-width: 640px) {
    .nav-item-logo {
        width: 20%;
    }
    .nav-wrapper {
        height: 90px;
    }
    .nav-container {
        height: 90px;
    }
    .nav-item-social {
        width: 60%;
    }
    .nav-item-subnav-responsive {
        width: 20%;
        text-align: left;
    }
}