.special-btn-component {
    width: 180px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.special-btn-text {
    font-family: "Chakra Petch", sans-serif;
    line-height: 28px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
}
.special-btn-text-negative-margin {
    margin-left: 0!important;
}

.special-btn-center {
    width: 180px;
    height: 48px;
    position: absolute;
}

.special-btn-main {
    width: 180px;
    height: 48px;
    cursor: pointer;
    border: 2px solid #8ad7ff;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
}
.special-btn-main-bg-green {
    background-color: #94daff;
}
.special-btn-main-bg-green:hover {
    background: transparent;
}
.special-btn-main-bg-transparent {
    background: transparent;
}


.special-btn-main:hover {
    transition: 0.5s ease-in-out;
}

.special-btn-logo {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 12px;
}
.special-btn-logo svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.special-btn-d-hidden {
    display: none;
}

@media only screen and (max-width: 670px) {
    .special-btn-component {
        width: 140px;
    }
    .special-btn-text {
        font-family: "Chakra Petch", sans-serif;
        line-height: 28px;
        font-weight: 700;
        font-size: 14px;
    }
    .special-btn-d-responsive {
        display: none;
    }
    .special-btn-d-hidden {
        display: flex;
    }
    .special-btn-main {
        width: 140px;
        cursor: pointer;
        border: 2px solid #94daff;
    }
    .special-btn-logo {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 12px;
    }
    .special-btn-text {
        font-family: "Chakra Petch", sans-serif;
        line-height: 28px;
        font-weight: 700;
        font-size: 13px;
        left: 40px;
    }
    .special-btn-center {
        width: 140px;
    }
}
