.nft-search-component {
    position: relative;
}
.nft-search-component-input {
    transition: all 0.3s ease;
    height: 45px;
    background: transparent;
    border: 1px solid rgba(97, 197, 248, 0.18);
    border-radius: 5px;
    font-family: "IBM Plex Mono",monospace;
    font-size: 17px;
    color: #14C2A3;
    padding-left: 10px;
    width: 100%;
}
.nft-search-component-input:focus {
    outline: #8ad7ff;
    border: 1px solid rgba(97, 197, 248, 1);
}
.nft-search-component-trigger {
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
}
.nft-search-component-trigger:hover svg {
    fill: #8ad7ff;
}
.nft-search-component-trigger svg {
    width: 30px;
    height: 30px;
    fill: rgba(138, 215, 255, 0.68);
    transition: all 0.3s ease-in-out;
}