.partner-items-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1450px) {
    .partner-items-container {
        flex-wrap: wrap;
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*justify-content: center;*/
    }
    .partner-items-container-wrapper {
        margin-bottom: 30px;
    }
}