.intro-sub-header-component {
    font-family: "Chakra Petch", monospace;
    font-size: 22px;
    color: #edf5f8;
    font-weight: 400;
    max-width: 550px;
}

@media only screen and (max-width: 1500px) {
    .intro-sub-header-component {
        text-align: center;
        color: #e2e2e8;
        font-size: 14px;
    }
}